.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $border-color;
    background: $seaside-gradient;
}

.footer a {
    color: $border-color;
}

.footer .social {
    font-size: 2rem;
}
