@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

$sunset-gradient: linear-gradient(#f1c168, #f19191);
$seaside-gradient: linear-gradient(to top, #f1c168, #f19191);
$border-color: #222;
$prefect-gray: #333;
$miniHeader: #fa791d;
$box-background: #333;
$content-background: #7c7c7c;
