@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;

$sunset-gradient: linear-gradient(#ffa500, #fff);
$seaside-gradient: linear-gradient(to top, #0deaf2, #fff);
